
#header{
  width:100%;
  height: 20%;
  position: fixed;
  top:0;
  left:0;
  background: #003262 url("public/images/UIowaPAPHILogo.png") no-repeat fixed;
}

body {
  background: #f9f6d6;
  opacity: .9;
}

