/* header that contains the main paphi pi chapter logo created by khang bui */
#header {
    padding: 0;
    background: #041E42;
}

/* display the logo inline so it is centered */
#mainLogo {
    display: block;
    margin: auto;
}

body {
    background: #f9f6d6;
}

/* display the text on the history page so it is center and aligned center */
#historyText{
    left: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/* contains the navbar and contents of the page.
 the wrapper should stretch to fit the full length of the page*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar ul li a {
    text-align: left;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

/* sets the attributes for the hover and focus on anchor tags */
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/*Main style for the navbar */
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #FEB81A;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FEB81A;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #041E42;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #041E42;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #041E42;
}
