
body {
    background: #f9f6d6;
}

#p1 {
    padding-top:5%;
    width:5px;
    height: 5px;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
    background: #041E42;
    text-align: center;
}

/* display the logo inline so it is centered */
#mainLogo {
    display: block;
    margin: auto;
}

#p2 {
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}

#couch {
    margin-left: 25px;
    width: 800px;
    height: 580px;
    margin-top: 25px;
}
#p2Text {
    display:none;
    margin-top:40px;
    margin-left:10px;
    width: 40%;
    height: 550px;
    border: 3px inset #041E42;
    /* RGBa with 0.8 opacity */
    background-color: rgba(254, 184, 26, 0.8);
}

/* display the text on the history page so it is center and aligned center */
#historyText {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
}

#historyBanner {
    height: 5px;
    width: 5px;
    position: relative;
}

#historyBannerContainer {
    width:1px;
    background-color: #FEB81A;
}


#p3 {
    height: 1px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}

#brothersBannerContainer {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    width:1px;
    border-top: 3px solid #041E42;
    border-bottom: 3px solid #FEB81A;
}

#brothersBanner {
    position:relative;
    margin: auto;
}

#brotherCarousel {
    border:1px solid black;
    height: 600px;
    width: 90%;
    margin-right: 2%;
    margin-left:5%;
    margin-top: 30px;
}

.carousel-inner > .item > img {
    height: 600px;
    margin:0 auto;
    image-orientation: from-image;
}


#p4 {
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}

#contact {
    width: 100%;
    margin-top: 25px;
}

#contactBanner {
    height: 5px;
    width: 5px;
    position: relative;
}

#contactBannerContainer {
    width:1px;
    background-color: #041E42;
}

.emails {
    display:none;
    width: 100%;
    text-align: center;
}

.emailButtons {
    display:none;
    margin-left:5px;
    margin-right:5px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #041E42;
}

.rotatePortraits {
    transform: rotate(90deg);
}

.scaleDown {
    transform: scale(.8);
}

.customText {
    font-family: "Times New Roman", sans-serif;
    color: white;
}


